html, body {
    height: 100%;
    color: white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
}

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}